# config file for pyRename

# Pattern to identify
#oldPattern = old

# Text to replace pattern with
#newPattern = new

# Path to search for files to rename, absolute or relative
# Default: .
#searchPath = /your/path

# should the search be recursive
# Default: False
#recursive = True

# What file extensions to search for
# Could be:
# File extension
# Comma separated list of file extensions
# *Videos, to search for videos only
# *Subs, to search for subtitle files
# *Files, to search for files only
# *All, to search for anything
# Default: *Files
#extensions = extension1, extension2, ...